
.backgroundhot{
    background-image: url(../../assets/Sunny.jpg);
    background-size: 100% ;
}

.backgroundcold{
    background-image: url(../../assets/snowy.jpg);
    background-size: 100% ;
}

.enter-city{
    background-image: url(../../assets/enter-city.jpg);
    background-size: 100% ;
}

.city-not-found{
    background-image: url(../../assets/city-404.jpg);
    background-size: 100% ;
}
